<mat-toolbar color="primary">
    <span class="app-logo">POKEMON CARD</span>
    
    <span class="example-spacer"></span>
    
    <button mat-button [routerLink]="['/']" routerLinkActive="active">
    INICIO
    </button>
    
    <span class="menu-spacer"></span>
    
    <a
    mat-icon-button
    target="_blank"
    aria-label="Github Repo link"
    href="https://github.com/NAKI-94/pokemon-api-angular2.git"
    >
    <img src="/src/app/assets/images/github-icon.svg" />
    </a>
    </mat-toolbar>